<h2>This is the Visual Gallery</h2>
{{!-- get access to the route name --}}
{{models-navbar parent="Visual" model=model}}
{{outlet}}
{{!-- {{#link-to 'visual.graphic-design'}} --}}
  {{!-- {{#each}}
    {{#link-to (concat "visual." model.name)}}
      {{model.name}}
    {{/link-to}}
  {{/each}}
{{outlet}} --}}
{{!-- <ul>
    {{#each model as |exhibit|}}
      <li>
        {{#link-to (concat "visual." exhibit.name)}}
          {{exhibit.name}}
        {{/link-to}}
      </li>
    {{/each}}
</ul> --}}
