<h2>This is the Visual Gallery</h2>
{{!-- get access to the route name --}}
{{models-navbar parent=model.parent children=model.children}}
<h1>{{model.length}}</h1>
{{outlet}}
{{!-- {{#link-to 'visual.graphic-design'}} --}}
  {{!-- {{#each}}
    {{#link-to (concat "visual." model.name)}}
      {{model.name}}
    {{/link-to}}
  {{/each}}
{{outlet}} --}}
{{!-- <ul>
    {{#each model as |exhibit|}}
      <li>
        {{#link-to (concat "visual." exhibit.name)}}
          {{exhibit.name}}
        {{/link-to}}
      </li>
    {{/each}}
</ul> --}}
