{{outlet}}
{{#each model as |item|}}
  <ul style="list-style: none">
    {{edit-item-form item=item edit='editItem'}}
    {{item-gallery-frame item=item delete='destroyItem'}}
  </ul>
{{/each}}
  {{!-- {{#each model as |item|}}
    <li><img src={{item.body}}/></li>
  {{/each}}
  <a href="#" {{action "destroy"}}>Delete Item</a> --}}
