{{outlet}}
<div class="container">
  <div class="row">
    {{#each model as |item|}}
        {{edit-item-form item=item edit='editItem' delete='destroyItem'}}
    {{/each}}
  </div>

  <div class="row">
    {{#each model as |item|}}
        {{item-gallery-frame item=item delete='destroyItem'}}
    {{/each}}
  </div>
</div>
  {{!-- {{#each model as |item|}}
    <li><img src={{item.body}}/></li>
  {{/each}}
  <a href="#" {{action "destroy"}}>Delete Item</a> --}}
